.bindingBlock {
  width: 100%;
}
.bindingBlock .sourceSinkRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.bindingBlock .sourceSinkRow label
{
  text-align: right;
  width: 120px;
}
.bindingBlock .sourceSinkRow select
{
  flex: 1;
  min-width: 50px;
  text-overflow: ellipsis;
  margin: 0 4px 0 4px;
}
.bindingBlock .sourceSinkRow button
{
  height: 24px;
  font-size: small;
  background-color: rgba(38, 38, 38, 0.5);
  border: 1px solid #888888;
  vertical-align: top;
  min-width: 120px;
}
.bindingBlock .sourceSinkRow button:hover
{
  background-color: rgba(255, 255, 255, .3);
}
.bindingBlock .sourceSinkRow button:active
{
  background-color: rgba(255, 255, 255, .4);
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.functionDialog .infoArea {
  display: table;
  width: 100%;
  margin-bottom: 10px;
  border-spacing: 8px 0;
}
.functionDialog .infoArea .infoAreaRow {
  display: table-row;
}
.functionDialog .infoArea dt {
  display: table-cell;
  white-space: nowrap;
}
.functionDialog .infoArea dd {
  display: table-cell;
  width: 100%;
}
.functionDialog label {
  display: block;
}
.functionDialog label .message {
  color: red;
  float: right;
}
.functionDialog input[type=text] {
  background: black;
  color: white;
  width: 100%;
  margin-bottom: 8px;
}
.functionDialog input[type=text]:focus {
  outline: none;
}
.functionDialog a, .functionDialog a:hover, .functionDialog a:visited {
  text-decoration: none;
}
.functionDialog div.examples {
  font-size: smaller;
  margin-top: 8px;
}
.functionDialog div.examples strong {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  color: #75c141;
}
