.rollup {
  margin-bottom: 4px;
  box-sizing: border-box;
}
.rollup > .title {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 4px 8px 2px 8px;
  background: rgba(38, 38, 38, 0.5);
  color: white;
  border: 1px solid #888888;
  min-height: 30px;
  border-radius: 5px 5px 0 0;
}
.rollup > .title.closed {
  border-radius: 5px;
}
.rollup > .title span {
  position: relative;
  top: 0;
}
.rollup > .title input[type=checkbox] {
  position: relative;
  top: 2px;
  margin-right: 8px;
}
.rollup > .contentArea {
  color: white;
  background: rgba(38, 38, 38, 0.5);
  padding: 8px;
  border: solid #888888;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}
.rollup > .title div.toggle {
  position: absolute;
  right: 6px;
  top: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}
.rollup > .title div.toggle:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
