html {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: smaller;
  box-sizing: border-box;
  background-color: transparent;
  overflow: visible;
  height: auto;
}
h1 {
  font-size: large;
  clear: both;
  color: #F6F6F6;
}
div.figure {
  text-align: center;
}
table { border: none; text-align: left; }
th.buttonCol, td.buttonCol { width: 7%; }
th.keyCol, td.keyCol { width: 12%; }
th, td { width: 100%; }
a { color: white; }
a:visited { color: magenta; }
img.float-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 16px;
}
img.float-right {
  float: right;
  margin-left: 10px;
}
